<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		table, th, td 
		 {
		  border: 1px solid #ddd;
		  padding: 8px;
		}

		.center {
		  margin-left: auto;
		  margin-right: auto;
		  font-family: Arial, Helvetica, sans-serif;
		}

		th {
		  padding-top: 12px;
		  padding-bottom: 12px;
		  text-align: left;
		  background-color: #684A43;
		  color: white;
		}
		#requests tr:nth-child(even){background-color: #f2f2f2;}

		#requests tr:hover {background-color: #ddd;}

	</style>
</head>
<body>	
<div>
	<table class="center" id="requests">
		<h2 class="text-center">
		Leave Status
	</h2>
		<tr>
		<th>
			Leave Type
		</th>			
		<th>
			Description
		</th>
		<th>
			status
		</th>		
		<th>
			Action
		</th>	
	</tr>
	 	<% @leave.all.each do |request| %> 
			<tr>
				<td>
					<%= request.leave_type%>
				</td>
				<td>
					<%= request.description%>
				</td>		
				<td>
					<%= request.status %>
		 		</td>	
		 		<td>
		 			<%= link_to 'Show' , request_leave_path(request)  %>
		 		</td>	
			</tr> 
		<% end %>			
	</table>    
</div>
</body>
</html>